@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Ropa Sans';
}

/* ====== HEADER E NAVIGATION ====== */

.header {
  height: 49px;
  width: 100vw;
  background: #ffffff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);

  padding: 8px 31px 14px 44px;
}

.logo {
  float: left;
}

.logo {
  width: 101px;
  height: 27px;
  float: left;
}

.navigation {
  float: right;
}

.navigation button {
  border: none;
  background: none;
  margin-top: 10px;
  cursor: pointer;
}

.container {
  padding: 20px 44px 57px 44px;
  margin: auto;
  width: 608px;
  height: 259px;
}

.content {
  width: 608px;
  height: 259px;

  padding-top: 37px;
}

article {
  float: left;
  width: 256px;
  height: 242px;
  background: hsla(0, 0%, 93%, 1);
}

article:nth-child(2) {
  margin-left: 96px;
}

.loft-description {
  padding: 12px;
}
.loft-description__header {
  width: 231px;
  height: 33px;
  margin-bottom: 12px;
}

.loft-description__header h2 {
  font-weight: 400;
  font-size: 25px;
  line-height: 27px;

  color: #888888;
  float: left;
}

.loft-description__header .tag {
  float: right;
}

article p {
  font-size: 10px;
  line-height: 11px;
  text-align: justify;

  color: #555555;

  margin-top: 12px;
}
